extends layout.pug

block content
    h1="Moderation, select which memes should be public"
    .meme__container()
        .gutter-sizer
        if(!memes)
            h3='Unfortunately, there is no memes yet'
        else
            each meme in memes
                .meme__item(class='standard '+meme.tags)
                    if meme.video_id != null
                        iframe(src=`https://www.youtube.com/embed/${meme.video_id}?controls=0&modestbranding=1` frameborder="0")
                    else    
                        img(src='/uploads/'+meme.id+'.jpg')
                    .details
                        span.tag!=meme.tags
                        span.pp__counter(meme_id!=meme.id)
                            i(class='fab fa-pied-piper-pp')
                            .pp__amount
                                =meme.likes
                        span.title
                            !=meme.meme_title
                        span.info
                            ='Made by: '
                            a(href=`/profile/${meme.author_id}`)
                                !=meme.author_username
                        span(style='max-width:90%; margin-top:10px;')
                            form(action="/meme/moderate?_method=PATCH" method="POST" enctype="application/x-www-form-urlencoded")
                                input(type="hidden" name="meme_id" value=meme.id)
                                input(type="submit" value="Submit" name="decision")
                                input(type="submit" value="Remove" name="decision")

block footer
    script(src='/scripts/jquery.js')
    script(src="https://kit.fontawesome.com/33ef3f59f0.js" crossorigin="anonymous")
    script(src='https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js')
    script(src='https://isotope.metafizzy.co/isotope.pkgd.js')
    script(src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js")
    script(src='/scripts/isotopePackery.js')
    script(src='/scripts/isotopeConfig.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(src='/scripts/modalsConfig.js')
    script(src='/scripts/tagsInput.js')