extends layout.pug
block content
    include blocks/gdpr.pug
    .rules__container
        h2='REGULATIONS OF OSUMEM.ES'
        ol
            li='Memes have to be related to any osu! mode or related to it’s community (this includes any related social media/osu!forum and so on e.g.: tweets, reddit comments etc.)'        
            li='Any meme related to certain human being cannot offend the mentioned person in a way that may cause damage to his/her image.'        
            li='Any explicit NSFW content is forbidden without any exceptions.'        
            li='The uploaded image to be considered as a meme must consist of things that MOST people will get the reference of. (This does not mean every not so popular inside joke will be rejected)'        
            li='Administrators reserve the right to change the regulations'
            li='Unacquaintance of the rules does not prevent user from the punishment'
            li="Bug/exploit using is not allowed, all of them have to be forwared to the administration (through the discord channel)"
            li="If meme language is other than English, you have to insert tag with a codename of the country (example NL - Netherlands)"
block footer
    script(src='/scripts/jquery.js')
    script(src="https://kit.fontawesome.com/33ef3f59f0.js" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(src='/scripts/modalsConfig.js')
    script(src='/scripts/tagsInput.js')
    script(src='/scripts/activeControl.js')
    script(src='/scripts/gdpr.js')