mixin meme_profile_item(memes)                
    if _.isEmpty(memes)
        ='Sadly, user does not uploaded any meme yet'
    each meme in memes
        .profile__container__content__memes__single
            .profile__container__content__memes__single--image
                if meme.video_id != null
                    img(src='/images/upload-video.png')
                else
                    if meme.status >= 0
                        img(src='/uploads/'+meme.id+'.jpg')
                    else
                        img(src='/images/rejected-meme.png')
            .profile__container__content__memes__single--id
                span='ID'
                =meme.id
            .profile__container__content__memes__single--date
                span='DATE'
                #{moment(meme.added_in).format('YYYY-MM-DD')}
            .profile__container__content__memes__single--status
                span='STATUS'
                if meme.status == 1
                    ='ACCEPTED'
                else if meme.status == 0
                    ='WAITING'
                else
                    ='REJECTED'
            .profile__container__content__memes__single--pp
                span='PP'
                !=meme.likes