.menu__container
    .menu__container__wrap
        .menu__container__wrap__logo
            h1(class="logo")
                a(href="/")
                    span=`osu!`
                    =`memes`
        .menu__container__wrap__menu
            ul.filters
                li
                    a(href='/#' id="std") #std
                li
                    a(href='/#'  id="mania") #mania
                li
                    a(href='/#'  id="ctb") #ctb
                li
                    a(href='/#'  id="taiko") #taiko
                li
                    input(type="text" id="tag__finder" placeholder="custom tag finder" style="display:none")
                li
                    i(id="tag__finder__icon" class="fas fa-search")
            .menu__container__wrap__menu__user
                if userInfo
                    a(href=`/profile/${userInfo.ingame_id}` data-attr-user-id=`${userInfo.ingame_id}`)
                        img(src=`https://a.ppy.sh/${userInfo.ingame_id}` alt=`${userInfo.username}_avatar`)
                else
                    a.menu__auth__button(href="/login")="Login with osu!"