.menu__container
    .menu__container__wrap
        .menu__container__wrap__logo
            h1(class="logo")
                a(href="/")
                    span=`osu!`
                    =`memes`
        .menu__container__wrap__menu
            ul.filters
                li
                    a(href='#' id="std") #std
                li
                    a(href='#'  id="mania") #mania
                li
                    a(href='#'  id="ctb") #ctb
                li
                    a(href='#'  id="taiko") #taiko
                li
                    input(type="text" class="tag__finder" placeholder="custom tag finder" style="display:none")
                    i(id="tag__finder" class="fas fa-search")
            .menu__container__wrap__menu__user
                if userInfo
                    img(src=`https://a.ppy.sh/${userInfo.ingame_id}` alt=`${userInfo.username}_avatar`)
                    h2!=userInfo.username
                    a.menu__meme__button(class="menu__auth__button" href="#modal__add__meme")
                        ='Add new meme'
                    if userInfo.role > 0
                        p(style='margin-top:25px')
                            a.menu__auth__button(href='meme/moderate')
                                ='Moderate Panel'
                    
                    #modal__add__meme(class="modal" rel="model:open")
                        h2="Upload your meme below:"
                        form(action='meme/add' method='POST' enctype='multipart/form-data')
                            label(for="tags")
                                ="Select an image:"
                            input(type="file" id="meme" name="meme")
                            .tip
                                ="Only .jpg extension accepted!"
                            label(for="tags")
                                ="Provide tags for your image:"
                            .tags__provider
                                .tagHere
                                input(type="hidden" name="tags" class="tags__provided")
                                input(type="hidden" name="author_username" value=userInfo.username)
                                input(type="hidden" name="author_id" value=userInfo.ingame_id)
                                input(type='text' autofocus value="tagiiiii")
                            .tip
                                ="Use a spacebar to input a tag"
                            input(type="submit" value="UPLOAD" id="tags__submit")
                else
                    a.menu__auth__button(href="login")="Login with osu!"