#modal__selection__meme__type(class="modal")
    .meme__selection
        a(class="meme__image" href="#modal__add__meme__image--first" rel="modal:open")
            img(src='/images/upload-image.png')
            h3="Image"
        a(class="meme__video"  href="#modal__add__meme--video" rel="modal:open")
            img(src='/images/upload-video.png')
            h3="Video"
#modal__add__meme__image--first(class="modal")
    img(src='/images/upload-cloud.png')
    h2="Upload your"
        span=' JPG ' 
        ="file:"
    .tip(style="text-align:center;")
        ="(maximum size at the moment is 1MB)"
    button.file__add
        ='BROWSE'
    a.nextSlide(href='#modal__add__meme__image--second' rel="modal:open" style="display:none")
#modal__add__meme__image--second(class="modal")
    form(action='/meme/add-image' method='POST' enctype='multipart/form-data')
        input(type="file" id="meme" name="meme" class='file' onchange="$('a.nextSlide').click();" accept="image/jpeg")
        label(for="meme_title")
            ="Name of your meme"
        input(type="name" id="meme_title" name="meme_title" maxlength="25" placeholder="Provide the name of your meme")
        .tip
            ="(25 letters limitation)"                    
        label(for="tags")
            ="Tags related to the meme:"
        .tags__provider
            .tagHere
            input(type="hidden" name="tags" class="tags__provided")
            input(type="hidden" name="author_username" value=userInfo.username)
            input(type="hidden" name="author_id" value=userInfo.ingame_id)
            input(type='text' autofocus placeholder="Provide your tags" maxlength="10" class="tags__input")
        .tip
            ="(Use a spacebar to input a tag, up to 5 tags)"
        input(type="submit" value="UPLOAD" class="tags__submit")
#modal__add__meme--video(class="modal")
    form(action='/meme/add-video' method='POST' enctype='multipart/form-data')
        label(for="meme_video_id")
            ="ID of youtube video"
        input(type="name" id="meme_video_id" name="meme_video_id" maxlength="25" placeholder="Provide the ID of the video")
        .tip
            ="(Signs after the youtube.com link)"   
        label(for="meme_title")
            ="Name of your meme"
        input(type="name" id="meme_title" name="meme_title" maxlength="25" placeholder="Provide the name of your meme")
        .tip
            ="(25 letters limitation)"                    
        label(for="tags")
            ="Tags related to the meme:"
        .tags__provider
            .tagHere
            input(type="hidden" name="tags" class="tags__provided")
            input(type="hidden" name="author_username" value=userInfo.username)
            input(type="hidden" name="author_id" value=userInfo.ingame_id)
            input(type='text' autofocus placeholder="Provide your tags" maxlength="10" class="tags__input")
        .tip
            ="(Use a spacebar to input a tag, up to 5 tags)"
        input(type="submit" value="UPLOAD" class="tags__submit")