extends layout.pug
block content
    .info__container
        h2="What would you like to know?"
        ul
            li="Regulations of osu!memes"
                p!="You can find it here, click on this <a href='/info/rules'>link</a>"
            li="The way of uploading memes"
                p="After logging in, you will see the plus icon on the bottom of the page, simply click it and follow the steps"
            li="Contact to the administration"
                p!="For now, you can only do that through the <a href='https://discord.gg/HhUXFJq'>discord channel</a>, feel free to ask questions :)"
            li="Passwords and account informations"
                p="We do not keep any private informations (like passwords to account) in the database, osumemes uses the oAuth2 authorization provided by osu!api v2"
                p="All of the informations are transfered through the secure connection"
            li="Version of the website"
                p="Right now, it's a beta stage - the website is stable, but we can tell, that actual version is 0.8"
            li="Who created it?"
                p="We are the osupoli community, we love rhythm games and we want to populate it all around the world"
block footer
    script(src='/scripts/jquery.js')
    script(src="https://kit.fontawesome.com/33ef3f59f0.js" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(src='/scripts/modalsConfig.js')
    script(src='/scripts/tagsInput.js')
    script(src='/scripts/activeControl.js')