extends layout.pug
include ../content/memes_profile.pug
block content
    .profile__container
        .profile__container__header
            .profile__container__header--cover(style=`background:url(${profile.cover_url})`)
            .profile__container__header--avatar
                 img(src=`https://a.ppy.sh/${profile.ingame_id}` alt=`${profile.username}_avatar`)
            .profile__container__header--nickname
                !=profile.username
            .profile__container__header--role
                if profile.role == 1
                    ='ADMINISTRATOR'
                else if profile.role == -1
                    ='BANNED'
                else
                    ='USER'
            .profile__container__header--country
                img(src=`https://www.countryflags.io/${profile.country}/shiny/32.png`)
            .profile__container__header--joinedDate
                !='since: ' 
                #{moment(profile.registered).format('YYYY-MM-DD')}
        .profile__container__content
            .profile__container__content__stats
                .profile__container__content__stats--uploadedMemes
                    ='Uploaded memes:'
                    p!=detailed.memes_count
                .profile__container__content__stats--ppSum
                    ='Total reach likes:'
                    p!=detailed.sum_likes  || '0'
            .profile__container__content__memes
                +meme_profile_item(memes)
    script(src='/scripts/jquery.js')
    script(src="https://kit.fontawesome.com/33ef3f59f0.js" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
    script(src='/scripts/modalsConfig.js')
    script(src='/scripts/tagsInput.js')
    script(src='/scripts/activeControl.js')